@import 'tailwindcss';

@plugin "daisyui" {
  themes: light --default;
}

#datePicker .react-datetime-picker__wrapper {
  padding: 4px 8px;
  border-radius: 4px;
}

#dateEdit .react-datetime-picker {
  width: 100%;
}

#dateEdit .react-datetime-picker__wrapper {
  border: none !important;
  background-color: white;
  width: 100%;
  padding: 0;
  overflow: hidden;
  color: black;
  display: flex;
  flex-wrap: wrap;
}

#dateEdit .react-datetime-picker__inputGroup {
  min-width: 253px;
  flex-grow: 1;
}


#dateEdit input {
  -webkit-text-fill-color: black !important;
  padding-bottom: 0.2rem;
}
