@import "tailwindcss";

#datePicker .react-datetime-picker__wrapper {
  padding: 4px 8px;
  border-radius: 4px;
}

#dateEdit .react-datetime-picker__wrapper {
  border: none;
  background-color: white;
  color: black;
}

#dateEdit input {
  -webkit-text-fill-color: black !important;
  padding-bottom: 0.2rem;
}